@model PersonaViewModel

<script>
function PersonaModel() {
    document.writeln("<p>PersonaModel: ejecutando JS dinamico desde: @Request.RawUrl...</p>")
    @if (Model != null)
    {
        @: { document.writeln("<p>Nombre: @Model.Personas.First().Nombre</p>"); }
        @: { document.writeln("<p>Apellido: @Model.Personas.First().Apellido</p>"); }
        @: { document.writeln("<p>Sexo: @Model.Personas.First().Sexo</p>"); }
    }
    @if (Request.QueryString.HasKeys())
    {
        foreach (string key in Request.QueryString.Keys)
        {
            @:{ document.writeln("<p>QueryString => Key: @key , Value: @Request.QueryString[key]</p>"); }
        }
    }
}
</script>

